<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="mysql" connectionString="Data Source=192.168.0.210;Initial Catalog=REPORTES_MYSQL;Persist Security Info=True;User ID=rsp_gt99_rep_consulta;Password=UtF3g9Oo6kWurbQ;Connection Timeout=60" />
	</connectionStrings>
</configuration>